
body {
    background-color: lightskyblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkslateblue;
}

button {
    margin: .5em;
    padding: .2em;
    border-radius: .5em;
    color: darkslateblue;
}

p {
    font-size: 1.6em;
}

section {
    text-align: center;
}

li {
    list-style-type: none;
}

.day {
    border-style: solid;
    justify-content: left;
    padding: .5em;
    border-radius: .5em;
    
}

.header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    background-color: darkslateblue;
    color: white;
    height: 2em;
    align-items: center;
}

.center {
    margin: auto;
    width: 50%;
    
}

.remember {
    justify-content: center;
}

#submitcity {
    display: flex; */
    align-content: space-around;
    margin: 2em;
    padding: .5em;
    justify-content: center;
    color: darkslateblue;
    border-radius: .5em;
}

#current-box {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: lightcyan;
    align-items: center;
    color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;

}

#search-box {
    text-align: center;
    border-style: solid;
    background-color: white;
    width: 33%;
    margin: 2em;
    align-items: center;
    box-shadow: 0 0 10px #777777;
    padding: 1em;
    border-radius: 1em;
}

#submitcity {
    display: flex;
    align-content: space-around;
    margin: 2em;
    padding: .5em;
}



#five-day-container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}



