
body {
    background-color: lightskyblue;
}


.header {
    display: flex;
    justify-content: center;
}

.forecast-day {
    border-style: solid;
    list-style-type: none;
    width: fit-content;
    padding: 1.2em;
}

#current-box {
    border-style: solid;
    list-style-type:  none;
    width: fit-content;
}

#search-box {
    border-style: solid;

}