
body {
    background-color: lightskyblue;
}


.header {
    display: flex;
    justify-content: center;
    font-size: 3em;
    background-color: darkslateblue;
    color: white;
    height: 2em;
    align-items: center;
}

.forecast-day {
    border-style: solid;
    list-style-type: none;
    width: fit-content;
    padding: 1.2em;
}

.day-box {
    border-style: solid;
}

#current-box {
    border-style: solid;
    list-style-type:  none;
    width: fit-content;
}

#search-box {
    border-style: solid;
    width: 33%;
    
}

#five-day-container {
    border-style: solid;
    display: flex;
    justify-content: space-around;
}

